@import "./src/scss/mixins";

button {
  @include defaultBorder;
  width: 60px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.button__primary {
  background: $primary-color;
  color: white;
}

.button__dark {
  background: $primary-border-color;
  color: #919191;
}
